* {
	margin: 0;
	padding: 0;
}


/*整个容器*/

.fa {
	cursor: pointer;
	font-size: 24px;
	color: white;
}
 
 


/*控制组件容器*/

.ppeasy-wrap {
	position: absolute; 
	background: #333;
	
	opacity:0.6
}

 
 

.progress-list {
	transition-duration: .2s;
	position: absolute;
	width: 100%;
	height: 3px;
	top: -4px;
	margin-left: -1px;
	border: 1px solid black;
	border-radius: 3px;
	background: rgb(130, 130, 130);
}
 

.play-progress {
	height: 3px;
	transition-duration: .2s;
	background-image: -webkit-linear-gradient(left, #57a900, #97ff00 80%, #dee2da);
	background-image: -ms-linear-gradient(left, #57a900, #97ff00 80%, #dee2da);
	background-image: -moz-linear-gradient(left, #57a900, #97ff00 80%, #dee2da);
	background-color: #D3D3D3\0;
	/*ie10以下兼容*/
}

.progress-list:hover {
	height: 13px;
}

.progress-list:hover .play-progress {
	height: 13px;
}

 
#ppeasycurtime,
#ppeasyduration,
.left-box-div {
	color: white;
}

#video-btn {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 15px;
}

.left-box {
	width: 250px;
	float: left;
	margin-left: 40px;
}

.left-box span {
	margin-left: 5px;
}
#ppeasylgplay{
	position:absolute;left:50%;top:50%;margin-left:-36px;margin-top:-36px;background-image:url('lgplay.png');width:72px;height:72px;display:none;
}
#slience,
#fullScreen {
	display: inline-block;
	width: 22px;
	height: 22px;
	list-style: none;
	margin-left: 20px;
}

#ppeasybox {
	width: 60px;
	float: right;
}

#ppeasybox ul {
	vertical-align: middle;
}

#ppeasybox ul ul li {
	list-style: none;
}


/*音量控制层*/

.voice-box {
	display: inline-block;
	position: relative;
	height: 30px;
	width: 124px;
	opacity: 0.7;
	line-height: 30px;
	top: 5px;
	margin-left: 5px;
	filter: alpha(opacity=70);
}

.voice-line {
	cursor: pointer;
	position: absolute;
	top: 13px;
	height: 4px;
	width: 124px;
	background: #ddd;
}

.voice-volume {
	position: absolute;
	top: 13px;
	height: 4px;
	width: 118px;
	cursor: pointer;
	background: #57a900;
}

.voice-btn {
	position: absolute;
	left: 118px;
	top: 9px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
	
}

  

.controlsppeasy3 {
	height: 46px;
	line-height: 46px;
}